{
  "x-generator": "NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "SaisonManager API v2",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://saisonmanager.de"
    }
  ],
  "paths": {
    "/api/v2/init.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "summary": "Initiale SM v2 Metadaten abrufen",
        "description": "Ruft den init.json Endpunkt von SaisonManager v2 ab, um Metadaten und Initialisierungsinformationen zu erhalten.",
        "operationId": "SmInitRequest",
        "responses": {
          "200": {
            "description": "Erfolgreich initiale Metadaten abgerufen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmInitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/games.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "summary": "Alle Spiele abrufen",
        "description": "Ruft den games.json Endpunkt von SaisonManager v2 ab und liefert alle Spiele zurück.",
        "operationId": "SmAllGamesRequest",
        "responses": {
          "200": {
            "description": "Alle Spiele erfolgreich abgerufen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmAllGamesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/leagues.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "summary": "Alle Ligen abrufen",
        "description": "Ruft den leagues.json Endpunkt von SaisonManager v2 ab und liefert alle Ligen zurück.",
        "operationId": "SmAllLeaguesRequest",
        "responses": {
          "200": {
            "description": "Alle Ligen erfolgreich abgerufen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmAllLeaguesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmLeagueRequest",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmLeagueResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/games/{gameId}.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmGameRequest",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmGameResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/schedule.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmLeagueScheduleRequest",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmLeagueScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/game_operations/{gameOperationId}.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmGameOperationLeaguesRequest",
        "parameters": [
          {
            "name": "gameOperationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmGameOperationLeaguesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/penalty_codes.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "summary": "Strafcodes abrufen",
        "description": "Ruft den penalty_codes.json Endpunkt von SaisonManager v2 ab und liefert alle Strafcodes.",
        "operationId": "SmPenaltyCodesRequest",
        "responses": {
          "200": {
            "description": "Strafcodes erfolgreich abgerufen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmPenaltyCodesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/penalties.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "summary": "Strafen abrufen",
        "description": "Ruft den penalties.json Endpunkt von SaisonManager v2 ab und liefert alle Strafen.",
        "operationId": "SmPenaltiesRequest",
        "responses": {
          "200": {
            "description": "Strafen erfolgreich abgerufen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmPenaltiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/table.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmLeagueTableRequest",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmLeagueTableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/grouped_table.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmLeagueGroupedTableRequest",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmLeagueGroupedTableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/scorer.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmLeagueScorerRequest",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmLeagueScorerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/admin/leagues/{leagueId}/additional_references.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmLeagueAdditionalReferencesRequest",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmLeagueAdditionalReferencesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/game_days/{gameDayNumber}/schedule.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmLeagueGameDayScheduleRequest",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "gameDayNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmLeagueGameDayScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/game_days/current/schedule.json": {
      "get": {
        "tags": [
          "SaisonManagerV2",
          "Api"
        ],
        "operationId": "SmLeagueCurrentGameDayScheduleRequest",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmLeagueGameDayScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SmInitResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2Init"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmV2Init": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "seasons": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2Season"
                }
              ]
            }
          },
          "current_season_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "game_operations": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2GameOperation"
                }
              ]
            }
          }
        }
      },
      "SmV2Season": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "current": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "SmV2GameOperation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "short_name": {
            "type": "string",
            "nullable": true
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "nullable": true
          },
          "logo_quad_url": {
            "type": "string",
            "nullable": true
          },
          "top_leagues": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2League"
                }
              ]
            }
          }
        }
      },
      "SmV2League": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "game_operation_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "game_operation_name": {
            "type": "string",
            "nullable": true
          },
          "game_operation_short_name": {
            "type": "string",
            "nullable": true
          },
          "game_operation_slug": {
            "type": "string",
            "nullable": true
          },
          "league_category_id": {
            "type": "string",
            "nullable": true
          },
          "league_class_id": {
            "type": "string",
            "nullable": true
          },
          "league_system_id": {
            "type": "string",
            "nullable": true
          },
          "league_type": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "female": {
            "type": "boolean",
            "nullable": true
          },
          "enable_scorer": {
            "type": "boolean",
            "nullable": true
          },
          "short_name": {
            "type": "string",
            "nullable": true
          },
          "season_id": {
            "type": "string",
            "nullable": true
          },
          "order_key": {
            "type": "string",
            "nullable": true
          },
          "game_day_numbers": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "game_day_titles": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2GameDay"
                }
              ]
            }
          },
          "deadline": {
            "nullable": true
          },
          "before_deadline": {
            "nullable": true
          },
          "legacy_league": {
            "type": "boolean",
            "nullable": true
          },
          "field_size": {
            "type": "string",
            "nullable": true
          },
          "league_modus": {
            "type": "string",
            "nullable": true
          },
          "has_preround": {
            "type": "boolean",
            "nullable": true
          },
          "table_modus": {
            "type": "string",
            "nullable": true
          },
          "periods": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "period_length": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "overtime_length": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "SmV2GameDay": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "game_day_number": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmAllGamesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2GamePreview"
        }
      },
      "SmV2GamePreview": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "game_number": {
            "type": "string",
            "nullable": true
          },
          "start_time": {
            "type": "string",
            "nullable": true
          },
          "audience": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "SmAllLeaguesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2LeaguePreview"
        }
      },
      "SmV2LeaguePreview": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "operation_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "game_operation": {
            "type": "string",
            "nullable": true
          },
          "season": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "order_key": {
            "type": "string",
            "nullable": true
          },
          "link": {
            "type": "string",
            "nullable": true
          },
          "link_schedule": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmLeagueResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2League"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmLeagueRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmLeagueIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "RouteType": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "AllGames",
          "AllLeagues",
          "GameOperationLeagues",
          "Init",
          "LeagueScorer",
          "LeagueTable",
          "LeagueGroupedTable",
          "LeagueSchedule",
          "LeagueGameDaySchedule",
          "LeagueCurrentGameDaySchedule",
          "Game",
          "League",
          "AdditionalReferences",
          "Penalties",
          "PenaltyCodes"
        ],
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14
        ]
      },
      "SmLeagueIdRequest": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "description": "RFC7807 compatible problem details/ error response class. this can be used by configuring startup like so:\napp.UseFastEndpoints(c => c.Errors.UseProblemDetails())",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "default": "https://www.rfc-editor.org/rfc/rfc7231#section-6.5.1"
          },
          "title": {
            "type": "string",
            "default": "One or more validation errors occurred."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "default": 400
          },
          "instance": {
            "type": "string",
            "default": "/api/route"
          },
          "traceId": {
            "type": "string",
            "default": "0HMPNHL0JHL76:00000001"
          },
          "detail": {
            "type": "string",
            "description": "the details of the error",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemDetails_Error"
            }
          }
        }
      },
      "ProblemDetails_Error": {
        "type": "object",
        "description": "the error details object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "the name of the error or property of the dto that caused the error",
            "default": "Error or field name"
          },
          "reason": {
            "type": "string",
            "description": "the reason for the error",
            "default": "Error reason"
          },
          "code": {
            "type": "string",
            "description": "the code of the error",
            "nullable": true
          },
          "severity": {
            "type": "string",
            "description": "the severity of the error",
            "nullable": true
          }
        }
      },
      "SmGameResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2Game"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmV2Game": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2BaseGame"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "game_day": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SmV2GameDay"
                  }
                ]
              },
              "game_number": {
                "type": "string",
                "nullable": true
              },
              "start_time": {
                "type": "string",
                "nullable": true
              },
              "actual_start_time": {
                "type": "string",
                "nullable": true
              },
              "game_status": {
                "type": "string",
                "nullable": true
              },
              "ingame_status": {
                "type": "string",
                "nullable": true
              },
              "audience": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "home_team_id": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "guest_team_id": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "live_stream_link": {
                "type": "string",
                "nullable": true
              },
              "vod_link": {
                "type": "string",
                "nullable": true
              },
              "events": {
                "type": "array",
                "nullable": true,
                "items": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SmV2GameEvent"
                    }
                  ]
                }
              },
              "players": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SmV2Players"
                  }
                ]
              },
              "starting_players": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SmV2StartingPlayers"
                  }
                ]
              },
              "awards": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SmV2Awards"
                  }
                ]
              },
              "league_id": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "league_name": {
                "type": "string",
                "nullable": true
              },
              "league_short_name": {
                "type": "string",
                "nullable": true
              },
              "game_operation_id": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "game_operation_name": {
                "type": "string",
                "nullable": true
              },
              "game_operation_short_name": {
                "type": "string",
                "nullable": true
              },
              "game_operation_slug": {
                "type": "string",
                "nullable": true
              },
              "period_titles": {
                "type": "array",
                "nullable": true,
                "items": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SmV2PeriodTitle"
                    }
                  ]
                }
              },
              "nominated_referees": {
                "type": "string",
                "nullable": true
              },
              "deletable": {
                "type": "boolean",
                "nullable": true
              }
            }
          }
        ]
      },
      "SmV2GameEvent": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "event_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "event_type": {
            "type": "string",
            "nullable": true
          },
          "event_team": {
            "type": "string",
            "nullable": true
          },
          "period": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "home_goals": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "guest_goals": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "time": {
            "type": "string",
            "nullable": true
          },
          "sortkey": {
            "type": "string",
            "nullable": true
          },
          "number": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_type": {
            "type": "string",
            "nullable": true
          },
          "penalty_type_string": {
            "type": "string",
            "nullable": true
          },
          "penalty_reason": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_reason_string": {
            "type": "string",
            "nullable": true
          },
          "assist": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "goal_type": {
            "type": "string",
            "nullable": true
          },
          "goal_type_string": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmV2Players": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "home": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2TeamPlayer"
                }
              ]
            }
          },
          "guest": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2TeamPlayer"
                }
              ]
            }
          }
        }
      },
      "SmV2TeamPlayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2BasePlayer"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "captain": {
                "type": "boolean",
                "nullable": true
              },
              "goalkeeper": {
                "type": "boolean",
                "nullable": true
              },
              "position": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "SmV2BasePlayer": {
        "type": "object",
        "discriminator": {
          "propertyName": "$type",
          "mapping": {
            "SmV2AwardPlayer": "#/components/schemas/SmV2AwardPlayer",
            "SmV2StartingPlayer": "#/components/schemas/SmV2StartingPlayer",
            "SmV2TeamPlayer": "#/components/schemas/SmV2TeamPlayer"
          }
        },
        "additionalProperties": false,
        "required": [
          "$type"
        ],
        "properties": {
          "player_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "trikot_number": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "player_name": {
            "type": "string",
            "nullable": true
          },
          "player_firstname": {
            "type": "string",
            "nullable": true
          },
          "plaayer_name": {
            "type": "string",
            "nullable": true
          },
          "$type": {
            "type": "string"
          }
        }
      },
      "SmV2AwardPlayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2BasePlayer"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "award": {
                "type": "string",
                "nullable": true
              },
              "team": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "SmV2StartingPlayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2BasePlayer"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "position": {
                "type": "string",
                "nullable": true
              },
              "team": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "SmV2StartingPlayers": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "home": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2StartingPlayer"
                }
              ]
            }
          },
          "guest": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2StartingPlayer"
                }
              ]
            }
          }
        }
      },
      "SmV2Awards": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "home": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2AwardPlayer"
                }
              ]
            }
          },
          "guest": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2AwardPlayer"
                }
              ]
            }
          }
        }
      },
      "SmV2PeriodTitle": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "period": {
            "type": "number",
            "format": "decimal",
            "nullable": true
          },
          "short_title": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status_id": {
            "type": "string",
            "nullable": true
          },
          "can_end_game": {
            "type": "boolean",
            "nullable": true
          },
          "optional": {
            "type": "boolean",
            "nullable": true
          },
          "running": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "SmV2BaseGame": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "arena": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "arena_name": {
            "type": "string",
            "nullable": true
          },
          "arena_address": {
            "type": "string",
            "nullable": true
          },
          "arena_short": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "nullable": true
          },
          "started": {
            "type": "boolean",
            "nullable": true
          },
          "ended": {
            "type": "boolean",
            "nullable": true
          },
          "home_team_name": {
            "type": "string",
            "nullable": true
          },
          "home_team_logo": {
            "type": "string",
            "nullable": true
          },
          "home_team_small_logo": {
            "type": "string",
            "nullable": true
          },
          "guest_team_name": {
            "type": "string",
            "nullable": true
          },
          "guest_team_logo": {
            "type": "string",
            "nullable": true
          },
          "guest_team_small_logo": {
            "type": "string",
            "nullable": true
          },
          "referees": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2Referee"
                }
              ]
            }
          },
          "notice_type": {
            "type": "string",
            "nullable": true
          },
          "notice_string": {
            "type": "string",
            "nullable": true
          },
          "current_period_title": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/SmV2PeriodTitle"
              }
            ]
          },
          "result_string": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/SmV2Result"
              }
            ]
          }
        }
      },
      "SmV2Referee": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "license_id": {
            "type": "string",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmV2Result": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "home_goals": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "guest_goals": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "home_goals_period": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          "guest_goals_period": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          "postfix": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/SmV2Postfix"
              }
            ]
          },
          "forfait": {
            "type": "boolean",
            "nullable": true
          },
          "overtime": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "SmV2Postfix": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "short": {
            "type": "string",
            "nullable": true
          },
          "long": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmGameRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmGameIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmGameIdRequest": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false
      },
      "SmLeagueScheduleResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2ScheduledGame"
        }
      },
      "SmV2ScheduledGame": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2BaseGame"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "time": {
                "type": "string",
                "nullable": true
              },
              "hosting_club": {
                "type": "string",
                "nullable": true
              },
              "game_id": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "game_number": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "game_day": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "game_day_id": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "group_identifier": {
                "type": "string",
                "nullable": true
              },
              "series_title": {
                "type": "string",
                "nullable": true
              },
              "series_number": {
                "type": "string",
                "nullable": true
              },
              "home_team_filling_rule": {
                "type": "string",
                "nullable": true
              },
              "home_team_filling_title": {
                "type": "string",
                "nullable": true
              },
              "home_team_filling_parameter": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "guest_team_filling_rule": {
                "type": "string",
                "nullable": true
              },
              "guest_team_filling_title": {
                "type": "string",
                "nullable": true
              },
              "guest_team_filling_parameter": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "nominated_referee_string": {
                "type": "string",
                "nullable": true
              },
              "state": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "SmLeagueScheduleRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmLeagueIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmGameOperationLeaguesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2League"
        }
      },
      "SmGameOperationLeaguesRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmGameOperationIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmGameOperationIdRequest": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false
      },
      "SmPenaltyCodesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2PenaltyCode"
        }
      },
      "SmV2PenaltyCode": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "order": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "mapping": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmPenaltiesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2Penalty"
        }
      },
      "SmV2Penalty": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "order": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "mapping": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmLeagueTableResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2TableTeam"
        }
      },
      "SmV2TableTeam": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "games": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "won": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "draw": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lost": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "won_ot": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lost_ot": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "goals_scored": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "goals_received": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "goals_diff": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "points": {
            "type": "number",
            "format": "decimal",
            "nullable": true
          },
          "team_name": {
            "type": "string",
            "nullable": true
          },
          "team_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "team_logo": {
            "type": "string",
            "nullable": true
          },
          "team_logo_small": {
            "type": "string",
            "nullable": true
          },
          "point_corrections": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PointCorrection"
              }
            ]
          },
          "sort": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "position": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "PointCorrection": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "points": {
            "type": "number",
            "format": "decimal",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "reference_number": {
            "type": "string",
            "nullable": true
          },
          "team_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmLeagueTableRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmLeagueIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmLeagueGroupedTableResponse": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/SmV2TableGroup"
        }
      },
      "SmV2TableGroup": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "group_identifier": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "table": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2TableTeam"
                }
              ]
            }
          }
        }
      },
      "SmLeagueGroupedTableRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmLeagueIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmLeagueScorerResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2ScorerPlayer"
        }
      },
      "SmV2ScorerPlayer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "games": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "goals": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "assists": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_2and2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_5": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_10": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_ms_tech": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_ms_full": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_ms1": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_ms2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "penalty_ms3": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "player_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "team_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "team_name": {
            "type": "string",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "nullable": true
          },
          "image_small": {
            "nullable": true
          },
          "sort": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "position": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "SmLeagueScorerRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmLeagueIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmLeagueAdditionalReferencesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmV2AdditionalReferences"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmV2AdditionalReferences": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "arenas": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2Arena"
                }
              ]
            }
          },
          "teams": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2Team"
                }
              ]
            }
          },
          "clubs": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SmV2Club"
                }
              ]
            }
          }
        }
      },
      "SmV2Arena": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "capacity": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_by": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "disabled": {
            "type": "boolean",
            "nullable": true
          },
          "housenumber": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "postcode": {
            "type": "string",
            "nullable": true
          },
          "public_transport_note": {
            "type": "string",
            "nullable": true
          },
          "street": {
            "type": "string",
            "nullable": true
          },
          "travel_note": {
            "type": "string",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_by": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "SmV2Team": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "short_name": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "nullable": true
          },
          "league_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cup_leagues": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          "club_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "league_name": {
            "type": "string",
            "nullable": true
          },
          "league_short_name": {
            "type": "string",
            "nullable": true
          },
          "game_operation_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "game_operation_name": {
            "type": "string",
            "nullable": true
          },
          "game_operation_short_name": {
            "type": "string",
            "nullable": true
          },
          "game_operation_slug": {
            "type": "string",
            "nullable": true
          },
          "syndicate": {
            "type": "boolean",
            "nullable": true
          },
          "syndicate_clubs": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          "logo_url": {
            "type": "string",
            "nullable": true
          },
          "logo_small": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SmV2Club": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "long_name": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "short_name": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "nullable": true
          },
          "logo_small_url": {
            "type": "string",
            "nullable": true
          },
          "game_operation_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "additional_game_operation_ids": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        }
      },
      "SmLeagueAdditionalReferencesRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmLeagueIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmLeagueGameDayScheduleResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SmV2ScheduledGame"
        }
      },
      "SmLeagueGameDayScheduleRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmLeagueIdGameDayNumberRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SmLeagueIdGameDayNumberRequest": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false
      },
      "SmLeagueCurrentGameDayScheduleRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmLeagueIdRequest"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      }
    },
    "securitySchemes": {
      "JWTBearerAuth": {
        "type": "http",
        "description": "Enter a JWT token to authorize the requests...",
        "scheme": "Bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
