{
  "openapi": "3.1.1",
  "info": {
    "title": "SaisonManager | v2",
    "version": "2.0.0",
    "description": "SaisonManager API v2 (20. März 2026)"
  },
  "servers": [
    {
      "url": "https://SaisonManager.de/"
    }
  ],
  "paths": {
    "/api/v2/init.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/leagues.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/games.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/game_operations/{gameOperationId}/leagues.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "gameOperationId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/schedule.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/table.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/grouped_table.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/scorer.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/admin/leagues/{leagueId}/additional_references.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/game_days/current/schedule.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/leagues/{leagueId}/game_days/{gameDayNumber}/schedule.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "gameDayNumber",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/games/{gameId}.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/user/leagues/penalties.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/user/leagues/penalty_codes.json": {
      "get": {
        "tags": [
          "SaisonManager"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "SaisonManager"
    }
  ]
}
